<% layout("/Layouts/boilerplate") %>



</script>

    <body>
        <div class="heading-create-new">
            <h2>Create New Listing</h2>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <form method="post" action="/listing" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">


                    <div class="mb-3">
                        <label for="title" class="form-lable">Title</label>
                        <input type="text" name="title" placeholder="Enter The title" class="form-control" id="input" required>
                    

                    </div>
                      

                    <div class="mb-3">
                        <label for="description" class="form-lable">Description</label>
                        <textarea name="description" placeholder="Enter description" class="form-control" required></textarea>
                    </div>
                    <div class="invalid-feedback">
                        * description
                      </div>
                    <div class="mb-3">
                        <label for="image" class="form-lable">Upload Image</label>
                        <input name="listingImage" type="file" class="form-control" required>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-lable">Price</label>

                            <input type="number" name="price" placeholder="Enter price" class="form-control" required>

                        </div>
                        <div class="invalid-feedback">
                            * price
                          </div>
                        <div class="mb-3 col-md-8">
                            <label for="image" class="form-lable">Country</label>
                            <input type="text" name="country" placeholder="Enter The country" class="form-control" required>


                        </div>
                        <div class="invalid-feedback">
                           * country
                          </div>
                    </div>


                    <div class="mb-3">
                        <label for="image" class="form-lable">Location</label>
                        <input type="text" name="location" placeholder="Enter The location" class="form-control" required>

                    </div>

                    <div class="invalid-feedback">
                        * location
                      </div>



                    <button class="btn btn-primary mb-3 add-button">Add</button>
                </form>
            </div>
        </div>

        
    </body>