<% layout('/Layouts/boilerplate') %>



<div class="row col-6 mb-3 mt-4 offset-3">

    <div class="alert alert-danger" role="alert">
        User already Registerd !
        

      </div>

  
      <div>
        <div><i class="fa-solid fa-arrow-left "></i>   <a class="" href="/listing">Back to home</a></div>
      </div>
        
      

</div>